<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-4 bg-white rounded-start p-4">
      <div class="container mt-5">

        <div class="mb-3">
          <label for="urlInput" class="form-label"><i class="bi bi-link-45deg me-4"></i>Your Long URL</label>
          <div class="input-group">
            <input id="urlInput" #urlInput [(ngModel)]="longUrl" [disabled]="disableUrl" type="url" pattern="https?://.+"  class="form-control" placeholder="Enter long link here" />
            
          </div>
          <div *ngIf="invalidUrl" class="text-danger">Invalid URL</div>
        </div>
        <div class="mb-3">
          <label for="tinyUrlInput" class="form-label"><i class="bi bi-magic me-4"></i>TinyURL</label>
          <div class="input-group">
            <input id="tinyUrlInput" [disabled]="disableTinyUrl" type="text" [(ngModel)]="tinyUrl" type="url" pattern="^(https?://)?(www\.)?.+" class="form-control" placeholder="tinyurl.com" />
            <input *ngIf="showAlias" id="alias" type="text" [(ngModel)]="alias" placeholder="Enter Alias" class="form-control ms-2" />
          </div>
          <div *ngIf="aliasNA" class="text-danger NA-alias"> Alias not available </div>
        </div>
        <div class="mb-3">
          <button *ngIf="shortenbtn" class="btn btn-primary w-100" (click)="getTinyUrl()">Shorten URL</button>
        </div>
        <div id="qr-controls">
          
          <div class="mb-3 w-100">
            <button class="btn btn-primary me-2" style="background-color: white; color: blue;" (click)="openUrlInNewTab()">
              <i class="bi bi-box-arrow-up-right"></i></button>
            
              <!-- Drop Down for QR Code to show downloading options-->
              <div class="container ddDiv">
                <div class="row row-postion">
                  <div class="col">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dd-bg-color" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        &nbsp;<i class="bi bi-qr-code"></i> &nbsp;QR Code &nbsp;
                      </button>
                      <div class="dropdown-menu ddWidth" aria-labelledby="dropdownMenuButton">
                        <div class="row">
                          <div class="container contanderWidth">
                            
                              <div class="col-12">
                                <div id="qrcodeContainer" #qrcodeContainer class="text-center">
                                  <qrcode id="qrcodeElement" #qrcodeElement [allowEmptyString]="true" [qrdata]="tinyUrl"></qrcode>
                                </div>
                              </div>
                            
                          </div>
                          <div class="ddElements">
                            <a style="padding: 0px;" class="dropdown-item" href="#"><button class="btn btn-primary btn-dd" (click)="downloadQRCode('png')">PNG</button></a>
                            <a style="padding: 0px;" class="dropdown-item" href="#"><button class="btn btn-primary btn-dd" (click)="downloadQRCode('svg')">SVG</button></a>
                            <a style="padding: 0px;" class="dropdown-item" href="#"><button class="btn btn-primary btn-dd" (click)="downloadQRCode('png1200')">PNG 1200</button></a>
                        </div>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <button class="btn btn-primary me-2">
              &nbsp;<i class="bi bi-share me-2"></i>&nbsp;Share&nbsp;</button>
            <button class="btn btn-primary me-2" title="Copy to Clipboard" (click)="copyToClipboard()">&nbsp;
              <i class="bi bi-clipboard me-2"></i> &nbsp;Copy&nbsp;&nbsp;</button>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary w-50 me-2 url-clr" title="See all urls" (click)="showMyUrls()">My Urls</button>
              <button class="btn btn-primary w-50 me-2  shrtBtn-clr" title="Start Over" (click)="refreshPage()">Shorten another</button>
            </div>
          </div>
      </div>
      
      </div>
    </div>
    
  </div>
</div>

<!-- my-urls-popup.component.html -->
<div id="popupContainer" *ngIf="userDatatPopUp">
  <div class="popup-content">
    <button class="close-button" (click)="closePopup()">
      <i class="bi bi-x"></i>
    </button>
    <div class="popUp-head">
      <h1> Your recent TinyURLs </h1>
    </div>
    <table class="myurls">
      <tr *ngFor="let url of myLinks" class="mt-3 mb-3">
        <td>
          <div class="row-div mt-3"> <!-- Add mt-3 class for top margin -->
            <div>
              <h4> {{url.tinyUrl}}</h4>
            </div>
            <div class="upper-div pt-3"> <!-- Add pt-3 class for top padding -->
              <p style="margin-left: 3%; margin-right: 3%; color: green;"> {{ url.longUrl }}</p>
            </div>
            <div class="buttons-div mt-3 pt-3"> <!-- Add mt-3 class for top margin and mb-3 class for bottom margin -->
              <!-- Add your buttons here with Bootstrap classes -->
              <button class="btn btn-primary me-2" style="position: relative; bottom: 15px; margin-right: 5px;">Rename</button>
              <button class="btn btn-primary me-2" style="position: relative; bottom: 15px;margin-right: 5px">Edit</button>
              <button class="btn btn-primary me-2" style="position: relative; bottom: 15px;margin-right: 5px"><i class="bi bi-qr-code"></i>QR Code</button>
              <button class="btn btn-primary me-2" style="position: relative; bottom: 15px;margin-right: 5px"><i class="bi bi-share me-2"></i>Share</button>
              <button class="btn btn-primary me-2" style="position: relative; bottom: 15px;margin-right: 5px"><i class="bi bi-clipboard me-2"></i>Copy</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>














