.qr-code-popup {
    width:14%;
    height:19%;
    position: absolute;
    top: 67%;
    left: 14%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .qr-code-popup .qr-icon {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .qr-code-icon {
    font-size: 100px; /* Adjust the font size as needed */
  }
  
  .qr-code-popup .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .ddWidth{
    width: 350px;
    
  }
  .dd-bg-color{
    background-color: #0d6efd;
  }
  .contanderWidth{
    width: 200px;
    position: relative;
    margin: 0px;
  }
  .ddElements{
    width: 170px;
  }
  .dropdown-item:hover {
    color: white;
  }
  .btn-dd{
    width:145px; 
    margin-bottom: 5px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .url-clr{
    background-color: white;
    color: green;
    border-color: green;
  }
  .shrtBtn-clr{
    background-color: green;
    color: white;
    font-weight: bold;
    border-color: green;
  }
  .ddDiv{
    position: absolute;
  }
  .row-postion{
    position: relative;
    right: -260px;
    top: -38px;
  }
/* my-urls-popup.component.css */

#popupContainer {
  position: fixed;
  top: 8%;
  right: 30px;
  width: 45%; /* One-third of the screen width */
  height: 92%;
  /*background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: flex-start; /* Align to the extreme left */
  align-items: center;
}

.popup-content {
  height:100%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 90vh; /* Set a maximum height for the popup content */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.NA-alias{
  width: 50%;
    position: relative;
    float: right;
    margin-bottom: 2%;
}
.close-button i {
  font-size: 24px;
}

.row-div {
  margin-bottom: 10px;
  background-color: #f8f9fa; /* Light-colored margin background */
}
.myurls{
  left: 3%;
  top: 10%;
  position: relative;
  width: 97%;
  table-layout: fixed;
}
.popUp-head{
  top: 5%;
  position: relative;
}
.upper-div{
  word-wrap: break-word;
}
.buttons-div{
  margin-left: 3%;
}
